# This is a basic workflow to help you get started with Actions

name: Update work item state when PR is merged, opened, closed or when branch is created

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  pull_request:
    branches: [ "main" ]
    types: [opened, closed, edited]
  push:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  alert:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    name: Test workflow
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        env: 
          gh_token : '${{ secrets.GH_TOKEN }}'   
          ado_token: '${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}'
          ado_organization: '${{ secrets.ADO_ORGANIZATION }}'
          ado_project: '${{ secrets.ADO_PROJECT }}'
          closedstate: 'Done'
          propenstate: 'Ready'
          inprogressstate: 'In Progress' 
          ghrepo_owner: 'Contoso'
          ghrepo: 'Contoso-Microservice'
          pull_number: ${{github.event.number}} 
          branch_name: ${{ github.ref }}

      
